<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商户信息修改</title>

<!-- base -->
<#include "/view/base.css.html">

<link rel="stylesheet" type="text/css" href="static/css/hw_css/form.css" />
</head>
<body>

	<!-- header -->
	<#include "/view/header.html">

	<form id="pointServiceForm">
		<div class="boxw clearfix" style="margin-top: 20px;">
			<div class="venue-form">
				<div class="mt-venue">
					<h1>商户信息修改</h1>
					<span>(<em>*</em>为必填选项)
					</span>
				</div>
				<div class="venue-box clearfix">
					<dl class="clearfix">
						<dt>
							<em>*</em>商户名：
						</dt>
						<dd>
							<input type="text" name="ps_zh_name" placeholder="请输入商户名，最多不要超过 50 字哦！" maxlength="50" value="${dto.ps_zh_name}">
							<!-- <span class="error-tips"><i></i>请输入商户名</span> -->
						</dd>
					</dl>
					<dl class="clearfix" id="chooseType">
						<dt>
							<em>*</em>类型：
						</dt>
						<dd>
							<select venuetype='1'>
								<option value="">请选择</option>
								<#list types as type>
									<#if type.isLock == 0>
										<option value="${type.categoryId}">${type.categoryName}</option>
									</#if>
								</#list>
							</select>
						</dd>
					</dl>
					<dl class="clearfix" id="chooseAddress">
						<dt>
							<em>*</em>地址位置：
						</dt>
						<dd>
							<select addresstype="province" name="ps_province_id">
								<option value="">请选择</option>
								<#list provinces as item>
									<option value="${item.code}">${item.name}</option>
								</#list>
							</select>
							<select addresstype="city" name="ps_city_id">
								<option value="">城市/地区</option>
							</select>
							<select addresstype="county" name="ps_countys_id">
								<option value="">区/县</option>
							</select>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt></dt>
						<dd>
							<input type="text" name="ps_address" placeholder="详细地址" maxlength="100" value="${dto.ps_address}">
							<!-- <span class="error-tips"><i></i>请输入详细地址</span> -->
						</dd>
					</dl>
					<dl class="clearfix" id="contact">
						<dt>
							<em>*</em>联系方式：
						</dt>
						<dd>
							<#list dto.pointServiceContactList as item>
								<input type="text" name="contact[${item_index}]" style="width:150px;" placeholder="座机，手机或邮箱" maxlength="20" value="${item.psc_number}">
							</#list>
							<#if dto.pointServiceContactList?size lt 2>
								<a class="add-rel" role="button" id="addPhone" handle-type="add">
									<i></i>添加联系方式
								</a>
								<#else>
								<a class="add-rel" role="button" id="addPhone" handle-type="del">
									&nbsp;删除联系方式
								</a>
							</#if>
						</dd>
					</dl>


					<dl class="clearfix" id="contact">
						<dt>
							<em>*</em>标记地图：
						</dt>
						<dd style="line-height: 40px;" id="addMapAddressDD">
							<span>地点：${dto.ps_address}</span>
							<input type="hidden" name="ps_coordinates" value="${dto.ps_coordinates}">
							<a href="javascript:void(0)" class="btn-edit-box" id="editAlreadyMapLine" start="${dto.ps_coordinates}">编辑</a>
						</dd>
					</dl>


					<dl class="clearfix">
						<dt>交通方式：</dt>
						<dd>
							<textarea maxlength="500" name="ps_traffic" placeholder="亲！最多不超过 500 字" style="height:150px;">${dto.ps_traffic}</textarea>
							<!-- <div class="error-area">
						          	<span class="error-tips">
						          		<i></i>请输入交通方式
						          	</span>
						          </div>
							 -->
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<em>*</em>营业时间：
						</dt>
						<dd elementType="chooseWeek">
							<div class="business-hours clearfix" style="z-index: 7;">
								<div class="week clearfix" id="weekDIV">
									<a class="all-week selected" id="allWeek">整&nbsp;&nbsp;周</a>
									<a>周一</a>
									<a>周二</a>
									<a>周三</a>
									<a>周四</a>
									<a>周五</a>
									<a>周六</a>
									<a>周日</a>
									<span>可以多选</span>
									<input name="dates[0].days" type="hidden" value="周一,周二,周三,周四,周五,周六,周日" />
								</div>
								<div class="hour clearfix">
									<a class="hours-24">24小时营业</a>
									<a class="time-select">
										<showtime>选择开始时间</showtime>
										<b></b>
										<div class="time-list" style="display: none;">
											<ul>
												<li>0:00</li>
												<li>0:30</li>
												<li>1:00</li>
												<li>1:30</li>
												<li>2:00</li>
												<li>2:30</li>
												<li>3:00</li>
												<li>3:30</li>
												<li>4:00</li>
												<li>4:30</li>
												<li>5:00</li>
												<li>5:30</li>
												<li>6:00</li>
												<li>6:30</li>
												<li>7:00</li>
												<li>7:30</li>
												<li>8:00</li>
												<li>8:30</li>
												<li>9:00</li>
												<li>9:30</li>
												<li>10:00</li>
												<li>10:30</li>
												<li>11:00</li>
												<li>11:30</li>
												<li>12:00</li>
												<li>12:30</li>
												<li>13:00</li>
												<li>13:30</li>
												<li>14:00</li>
												<li>14:30</li>
												<li>15:00</li>
												<li>15:30</li>
												<li>16:00</li>
												<li>16:30</li>
												<li>17:00</li>
												<li>17:30</li>
												<li>18:00</li>
												<li>18:30</li>
												<li>19:00</li>
												<li>19:30</li>
												<li>20:00</li>
												<li>20:30</li>
												<li>21:00</li>
												<li>21:30</li>
												<li>22:00</li>
												<li>22:30</li>
												<li>23:00</li>
												<li>23:30</li>
											</ul>
											<input type="hidden" name="dates[0].startDate">
										</div>
									</a>
									<span>至</span>
									<a class="time-select">
										<showtime>选择结束时间</showtime>
										<b></b>
										<div class="time-list" style="display: none;">
											<ul>
												<li>0:00</li>
												<li>0:30</li>
												<li>1:00</li>
												<li>1:30</li>
												<li>2:00</li>
												<li>2:30</li>
												<li>3:00</li>
												<li>3:30</li>
												<li>4:00</li>
												<li>4:30</li>
												<li>5:00</li>
												<li>5:30</li>
												<li>6:00</li>
												<li>6:30</li>
												<li>7:00</li>
												<li>7:30</li>
												<li>8:00</li>
												<li>8:30</li>
												<li>9:00</li>
												<li>9:30</li>
												<li>10:00</li>
												<li>10:30</li>
												<li>11:00</li>
												<li>11:30</li>
												<li>12:00</li>
												<li>12:30</li>
												<li>13:00</li>
												<li>13:30</li>
												<li>14:00</li>
												<li>14:30</li>
												<li>15:00</li>
												<li>15:30</li>
												<li>16:00</li>
												<li>16:30</li>
												<li>17:00</li>
												<li>17:30</li>
												<li>18:00</li>
												<li>18:30</li>
												<li>19:00</li>
												<li>19:30</li>
												<li>20:00</li>
												<li>20:30</li>
												<li>21:00</li>
												<li>21:30</li>
												<li>22:00</li>
												<li>22:30</li>
												<li>23:00</li>
												<li>23:30</li>
											</ul>
											<input type="hidden" name="dates[0].endDate">
										</div>
									</a>
								</div>
							</div>
							<div>
								<a id="addTime" class="add-rel" role="button"><i></i>添加营业时间</a>
							</div>
						</dd>
					</dl>
				</div>
				<div class="btns">
					<a href="javascript:void(0)" id="submitInfo" class="btn-sub">提交审核</a>
				</div>
			</div>
	</form>

	<#include "/view/base.js.html">
	<script type="text/javascript" src="static/js/pointService/update/update.pointService.js"></script>
	
	<script type="text/javascript">
		var ps_id = ${dto.ps_id};
		$(function(){
			$.ajaxSetup({   
	            async : false
	        });
			
			//选择城市
			selectCity();
			
			//选择类型
			selectType();
			
			//营业时间
			businessTime();
		})
		
		//选择城市
		function selectCity(){
			$("select[addresstype=province]").val(${dto.ps_province_id});
			$("select[addresstype=province]").trigger("change");
			
			//选择地区
			$("select[addresstype=city]").val(${dto.ps_city_id});
			$("select[addresstype=city]").trigger("change");
			
			//选择区县
			$("select[addresstype=county]").val(${dto.ps_countys_id});
		}
		
		//选择类型
		function selectType(){
			<#if dto.pointTypeDTO.categorylevel == 3>
				$("select[venuetype=1]").val(${dto.pointTypeDTO.one});
				$("select[venuetype=1]").trigger("change");
				
				$("select[venuetype=2]").val(${dto.pointTypeDTO.two});
				$("select[venuetype=2]").trigger("change");
				
				$("select[venuetype=3]").val(${dto.pointTypeDTO.three});
				
				<#elseif dto.pointTypeDTO.categorylevel == 2>
					$("select[venuetype=1]").val(${dto.pointTypeDTO.one});
					$("select[venuetype=1]").trigger("change");
					
					$("select[venuetype=2]").val(${dto.pointTypeDTO.two});
				<#elseif dto.pointTypeDTO.categorylevel == 4>
					$("select[venuetype=1]").val(${dto.pointTypeDTO.one});
					$("select[venuetype=1]").trigger("change");
					
					$("select[venuetype=2]").val(${dto.pointTypeDTO.two});
					$("select[venuetype=2]").trigger("change");
					
					$("select[venuetype=3]").val(${dto.pointTypeDTO.three});
					$("select[venuetype=3]").trigger("change");
					
					$("select[venuetype=4]").val(${dto.pointTypeDTO.four});
			</#if>
		}
		
		//营业时间
		function businessTime(){
			<#list dto.businessTimeDTOList as item>
				<#if item.businessDaysList?size == 7>
					<#else>
						<#list item.businessDaysList as dayitem>
							$("dd[elementType=chooseWeek]").find("div#weekDIV").eq(${item_index}).find("a").each(function(index,element){
								var $this = $(this);
								if($this.html() == '${dayitem.psbd_day}'){
									$this.trigger("click");
								}
							})
						</#list>
						if("${item.psabd_start_date}"=="0:00" && "${item.psabd_end_date}"=="0:00"){
							$("dd[elementType=chooseWeek]").find(".hour").eq(${item_index}).find(".hours-24").trigger("click");
						}else{
							$("dd[elementType=chooseWeek]").find(".hour").eq(${item_index}).find("a.time-select").eq(0).find("showtime").text("${item.psabd_start_date}");
							$("dd[elementType=chooseWeek]").find(".hour").eq(${item_index}).find("a.time-select").eq(1).find("showtime").text("${item.psabd_end_date}");
							$("dd[elementType=chooseWeek]").find(".hour").eq(${item_index}).find("input").eq(0).val("${item.psabd_start_date}");
							$("dd[elementType=chooseWeek]").find(".hour").eq(${item_index}).find("input").eq(1).val("${item.psabd_end_date}");
						}
				</#if>
				<#if item_has_next>
					$("a#addTime").trigger("click");
				</#if>
			</#list>
		}
	</script>
</body>
</html>
