<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>景点地图</title>
<link rel="stylesheet" href="static/css/map.css">
<link rel="stylesheet" type="text/css" href="static/css/hw_css/spotmap.css" />
<style type="text/css">
	html,body {
		margin: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	
	#tip {
		background-color: #fff;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		font-size: 12px;
		left: 30px;
		top: 30px;
		border-radius: 3px;
		border: 1px solid #ccc;
		line-height: 30px;
	}
	.amap-icon img {
	    position: absolute;
	    z-index: -1;
	    left: -9px!important;
	}
	#conntent li{
		border:1px solid #fff;
	}
	#conntent li:hover{
		border:1px solid #ff8a01;
		color: #fa5d5d;
	}
	#other-item{

    	margin-top: -6px;
    	padding-bottom: 10px;
	}
</style>
</head>
<body>
	<div id="container" style="width:100%; height: 100%;"></div>
	<div class="map-search clearfix">
		<div class="tsxs clearfix">
			<div class="title">
				<i class="icons"></i>同时显示 <i class="arrow-down"></i>
			</div>
			<div class="other-item" >
				<li id="other-item"><a class="ico-venus"><i></i></a>景点 <i class="arrow-right" ></i></li>
				<div class="list">
					<ul id="conntent">
						
					</ul>
				</div>
			</div>
			
		</div>
		<div class="venue-list clearfix" id="detail" style="display: none">
			<ul class="clearfix">
				
			</ul>
		</div>
	</div>
	
	<script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
	<#include "/view/webapi.js.html">
<script>
	$(function() {
		$(".title").click(function() {
			$(this).next().slideToggle();
		})
		$("#other-item").click(function() {
			$(".list").show();
			$(".venue-list").hide();

		})
	})
		var map;
		var center="${center}";
		var arr=center.split(",");
		var search_obj = {};// 查询缓存对象
		var default_page = {key:'page',val:'1'};// 更换搜索条件一定要重新设置分页{key:'page',val:'1'}
		var begin=0;

		function init() {
			//地图初始化时，在地图上添加一个marker标记,鼠标点击marker可弹出自定义的信息窗体
			map = new AMap.Map("container", {
				resizeEnable : true,
				center : arr,
				zoom : 11
			});
// 地图平移结束后触发。如地图有拖拽缓动效果，则在缓动结束后触发
			map.on('moveend', function(){
				// 当用户点击搜索得到的数据，地图要平移到该数据的坐标地点
					getBounds();
               begin= new Date().getSeconds();
			});

			getBounds();
			begin= new Date().getSeconds();
		}
		function getBounds(){
			var end= new Date().getSeconds();
			if(begin==0||end-begin>refreshTime){
			  query();
			}
		}
		function query(){
			var bounds = map.getBounds();//地物对象的经纬度矩形范围。
			var northEast = bounds.getNorthEast();// 获取东北角坐标。
			var center = bounds.getCenter();//获取当前Bounds的中心点经纬度坐标。
			searchSpot({data:[
				default_page,// 默认第一页
				{key:'bl',val:center.getLat()+","+center.getLng()},// 转换格式纬度，经度
				{key:'northEast',val:northEast.toString()}
			]});
		}
		function searchSpot(search){
			// 解析搜索对象
			for(var i=0,len=search.data.length;i<len;i++){
				var data = search.data[i];
				var key = data.key;// 参数key
				var val = data.val;// 参数值
					search_obj[key] = val;
			}
			// 获取json数据
			getResult();
		}
		var _spot_markers=new Array();// 重置marker数组

		function getResult(){
			_spot_markers=new Array();// 重置marker数组
			$.post("spot/search.do", search_obj, function(data){
				outResult(data.result);
			});

		}
		 var _listHtml="";
        function outResult(data2){

        	  _listHtml="";
            var _title="";
			for(var i=0;i<data2.length;i++){
				var data=data2[i];
				
				if(data.coordinate!=null){
					coordinates = data.coordinate.split(",");
					addMarker(coordinates[1],coordinates[0],data);
					_title=data.name.length>20?data.name.substr(0,20):data.name;
					_listHtml+="<li title="+data.name+" onclick=content("+data.id+")>"+_title+"</li>";
				}
			}
			getList();
			
		}
        function content(id){

        	for(var i=0;i<_spot_markers.length;i++){
      			var marker = _spot_markers[i];
      			if(marker.getExtData().id ==id){
      				// 当鼠标移到列表数据高亮显示图标

      				detail(marker);
      			}
      			else{
      				marker.setIcon('static/img/index/active/mark-green.png');
      			}
      			
      		}
        }
        function getList(){
        	 $("#conntent").html(_listHtml);
        }
        //
        
		//添加marker标记
		function addMarker(lng, lat,data) {
			var marker = new AMap.Marker({
				map : map,
				position : [ lng, lat ], //基点位置
				icon:'static/img/index/active/mark-green.png'
			});

			 marker.setExtData(data);
			// 鼠标移近点标记时触发事件
		    marker.on('mouseover',markerMouseover);
		    // 鼠标移出点标记时触发事件
		    marker.on('mouseout',markerMouseout);

			marker.on("click",a);
			_spot_markers.push(marker);
		}
        function a(e){
        	var marker = e.target;
        	detail(marker);
        }
        var _clickid;
		function detail(marker) {
			marker.setIcon('static/img/index/active/mark-yellow.png');
			$(".list").hide();
        	 var htmlObj=marker.getExtData();
			_clickid=htmlObj.id;
		    $("#detail").html(getDatail(htmlObj));
            $(".venue-list").show();
			markgreen(marker);
	  }
	  function markgreen(marker){
		  for(var i=0;i<_spot_markers.length;i++){
			  var data=_spot_markers[i];
			  if(data.getExtData().id!=marker.getExtData().id){
				  data.setIcon('static/img/index/active/mark-green.png');
			  }
		  }
	  }
		 var _html="<li><div class='venue-img'><a href='spot/xiang/iidi.html' target='_blank'><img  src='isrci' style='width:300px;height:180px' /></a></div>";
		    _html+="<div class='venue-title'><a href='spot/xiang/iidi.html' target='_blank'>ititlei</a></div>";
		    _html+="<div class='venue-address'>详细地址<i></i>iaddressi</div>";
		   _html+="</li>";
		function getDatail(Obj){
			var contents=_html.replaceAll("iidi", Obj.id).replaceAll("isrci",Obj.url)
			.replaceAll("ititlei",Obj.name)
			.replaceAll("iaddressi",Obj.address);
			return contents;
		}
		
		var infoWindow;
		
		//鼠标移到点标记时触发事件
		function markerMouseover(e){
			var marker = e.target;
			if(_clickid!=marker.getExtData().id)
			// 加亮显示marker
			marker.setIcon('static/img/index/active/mark-yellow.png');
			
			//实例化信息窗体
			var data = marker.getExtData();
		    var title = data.name+'<span style="font-size:11px;color:#F00;">价格:'+data.price+'</span>',
		    content = [];
		    content.push("<img src='"+data.url+"' style='width:100px;height:65px;'>地址："+data.address);
		    infoWindow = new AMap.InfoWindow({
		        isCustom: true,  //使用自定义窗体
		        content: createInfoWindow(title, content.join("<br/>")),
		        offset: new AMap.Pixel(16, -45)
		    });
		    
		    infoWindow.open(map, marker.getPosition());
		}
		//鼠标移出点标记时触发事件
		function markerMouseout(e){
			var marker = e.target;
			// 恢复marker
			if(_clickid!=marker.getExtData().id)
			marker.setIcon('static/img/index/active/mark-green.png');
			
			closeInfoWindow();
		}
		
		//构建自定义信息窗体
		function createInfoWindow(title, content) {
		    var info = document.createElement("div");
		    info.className = "info";

		    //可以通过下面的方式修改自定义窗体的宽高
		    //info.style.width = "400px";
		    // 定义顶部标题
		    var top = document.createElement("div");
		    var titleD = document.createElement("div");
		    var closeX = document.createElement("img");
		    top.className = "info-top";
		    titleD.innerHTML = title;
		    closeX.src = "http://webapi.amap.com/images/close2.gif";
		    closeX.onclick = closeInfoWindow;

		    top.appendChild(titleD);
		    top.appendChild(closeX);
		    info.appendChild(top);

		    // 定义中部内容
		    var middle = document.createElement("div");
		    middle.className = "info-middle";
		    middle.style.backgroundColor = 'white';
		    middle.innerHTML = content;
		    info.appendChild(middle);

		    // 定义底部内容
		    var bottom = document.createElement("div");
		    bottom.className = "info-bottom";
		    bottom.style.position = 'relative';
		    bottom.style.top = '0px';
		    bottom.style.margin = '0 auto';
		    var sharp = document.createElement("img");
		    sharp.src = "http://webapi.amap.com/images/sharp.png";
		    bottom.appendChild(sharp);
		    info.appendChild(bottom);
		    return info;
		}

		//关闭信息窗体
		function closeInfoWindow() {
		    map.clearInfoWindow();
		}
		
		
	</script>
	<script type="text/javascript" src="static/js/plugins/layer/layer.min.js"></script>
	<script type="text/javascript">
String.prototype.replaceAll = function(reallyDo, replaceWith, ignoreCase) {
    if (!RegExp.prototype.isPrototypeOf(reallyDo)) {
        return this.replace(new RegExp(reallyDo, (ignoreCase ? "gi": "g")), replaceWith);
    } else {
        return this.replace(reallyDo, replaceWith);
    }
}
</script>
</body>
</html>


