@charset "utf-8";
/* CSS Document */
.c1{color:#ff8a01;}
.user-model-container{background: #fff; border-radius: 0.25em; cursor: auto;  max-width: 600px; position: relative; transform: translateY(0px); transition-duration: 0.3s; transition-property: transform; width: 100%;font-size:14px;}
.user-model-container .switcher::after {clear: both; content: ""; display: table;}
.user-model-container .switcher li{float: left; text-align: center; width: 50%;}
.user-model-container .switcher li:first-child a {border-radius: 0.25em 0 0;}
.user-model-container .switcher li:last-child a {border-radius: 0 0.25em 0 0;}
.user-model-container .switcher a {background: #d2d8d8; color: #809191; display: block; height: 70px; line-height: 70px; width: 100%;}
.user-model-container .switcher a.selected {background: #fff; color: #505260;}
.is-selected{display: block;}
.hw-form{padding:30px;}
.hw-form .fieldset{position:relative;margin:30px 0;}
.hw-form .fieldset:first-child{margin-top:0;}
.hw-form .fieldset:last-child{margin-bottom:0;}
.hw-form label.image-replace {background-position: 50% 0; background-repeat: no-repeat;bottom: auto; color: transparent;
    display: inline-block; height: 22px;left: 15px;overflow: hidden; position: absolute; text-indent: 100%; text-shadow: none;
    top: 50%; transform: translateY(-50%); white-space: nowrap; width: 22px;}
.hw-form .hw-username{background:url(../../images/hw_img/icon_user.jpg) no-repeat;}
.hw-form .hw-password{background:url(../../images/hw_img/icon_password.jpg) no-repeat;}
.hw-form .hw-email{background:url(../../images/hw_img/icon_mail.jpg) no-repeat;}
.hw-form input {
    border-radius: 0.25em;
    margin: 0;
    padding: 0;
}
.hw-form input.full-width {
    width: 80%;
}
.hw-form input.full-width2 {
    width: 94%;
}
.hw-form input.has-padding {
    padding: 16px 20px 16px 50px;
}
.hw-form input.has-border {
    -moz-appearance: none;
    border: 1px solid #d2d8d8;
}
.hw-form input.has-border:focus {
    border-color: #ff8a01;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: medium none;
}
.hw-form input.has-error {
    border: 1px solid #d76666;
}
.hw-form button {
    width: 94%;
    -moz-appearance: none;
    background: #ff8a01;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 16px 0;
}
.no-touch .hw-form input[type="submit"]:hover, .no-touch .hw-form input[type="submit"]:focus {
    background: #3599ae;
    outline: medium none;
}

/*---------------------------------------------------	add		---------------------------------------*/

/* 2016年3月9日*/
.layer-drag{width: 504px !important;height: 45px !important;line-height: 45px !important;}
.layer-drag .drag_bg{	height:45px !important;}
.layer-drag .drag_text{width: 504px !important;height: 45px !important;}
.layer-drag .handler{	width: 43px !important;height: 43px !important;}