body{
	background: #f4f4f4;
}
.header{
	width: 1200px;
	line-height: 50px;
	margin: 0 auto;
	height: 50px;
	margin-top: 10px;
	background: url(../../images/hw_img/bj2.png) no-repeat;
}
.san,.san2{
	width: 400px;
	text-align: center;
	float: left;
}
.san{
	color: #fff;
}
.san2{
	color: #333333;
}
.content{
	width: 1140px;
	background: #fff;
	margin:0 auto;
	padding: 20px 30px;
	overflow: hidden;
}
.lose{
	width: 800px;
	height: 120px;
	padding: 30px 0;
	margin:  0 auto;
	margin-top: 50px;
	border-bottom: 1px solid #e4e4e4;
}
.loleft{
	width: 250px;
	text-align: right;
	float: left;
}
.lright{
	width: 540px;
	float: left;
	padding-left: 10px;
}
.tp{
	font-size: 22px;
	color: #333333; 
	margin-bottom: 10px;
}
.tp span{
	font-size: 14px;
}
.lp{
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}
.maybe{
	width: 540px;
	padding-left: 260px;
	line-height: 60px;
	margin: 0 auto;
}
.maybe a{
	color: #3b74d3;
	margin-left: 10px;
}