<div class="myinfo-sidebar">
  <ul>
  	<li><a href="users/userInfo.html"  class="info<#if left_menu_name='我的信息'> now</#if>"><i class="icons-info"></i>我的信息</a></li>
    <li><a href="users/selectHead.html"  class="header<#if left_menu_name='我的头像'> now</#if>"><i class="icons-head"></i>我的头像</a></li>
    <li><a href="SignupUser/selectUser.html"  class="commen-linkman<#if left_menu_name='常用报名人'> now</#if>"><i class="icons-linkman"></i>常用报名人</a></li>
    <li><a href="users/userSecurity.html"  class="safe<#if left_menu_name='账号安全'> now</#if>"><i class="icons-safe"></i>账号安全</a></li>
    <li><a href="balance/details.html"  class="purse <#if left_menu_name='我的钱包'> now</#if>"><i class="icons-purse"></i>我的钱包</a></li>
  </ul>
</div>