<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attractionsphotosMapper">
	 

	<select id="getAttractionsphotosList" parameterType="int" resultType="com.op.spot.entity.Attractionsphotos">
		SELECT

        pho

		FROM  s_attractionsphotos
		WHERE  status=0 and sid=#{id}

	</select>

	 
</mapper>