<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scenicspotintroductionMapper">


	<select id="getScenicspotintroductionById" parameterType="int" resultType="com.op.spot.entity.Scenicspotintroduction">
		SELECT
        sid ,content
	        FROM s_scenicspotintroduction
	        WHERE
		        sid = #{id}
	</select>
	 
</mapper>