<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="traveltipsMapper">


    <select id="getTraveltipsById" parameterType="int" resultType="com.op.spot.entity.Traveltips">
		SELECT
        id ,sid ,bbusyseason ,ebusyseason ,blowseason ,elowseason ,notice ,phone ,besttime ,aboutbrowsingtime ,attractionsfacilities
	        FROM s_traveltips
	        WHERE 

		        sid = #{id}

	</select>


</mapper>