<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>玩嘛</title>
<#include "/view/base.css.html">
<link rel="stylesheet" type="text/css" href="static/css/hw_css/modify.css" />
<link rel="stylesheet" type="text/css" href="static/css/hw_css/travels-title.css" />
<link rel="stylesheet" type="text/css" href="static/upload/style.css"/>
<link rel="stylesheet" type="text/css" href="static/css/emoji/emoji.css" />
	
	<#include "/view/base.js.html">
<style>
body {
	background: #f1f1f1;
}

#bank img {
	background-image: url(static/css/bank/bank-logo.png);
	width: 125px;
	height: 28px;
	background-repeat: no-repeat;
}
</style>
</head>

<body>

<div id="container" style="display: none;">
	<a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
	<a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
</div>
	<#include "/view/header.html">
	<!-- 主图 	start -->
	<#include "/view/travels/release/uploadImg.html">
	<div id="check-complete-percent-top"></div>
	<div class="complete-percent" top-there >
		<div class="boxw clearfix">
			<div class="fl">
				<div class="cp-detail">
					<div class="cp-name">游记完成度</div>
					<div class="cp-num" id="complete-percent">
						<i class="completed"></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
					</div>
					
					<div class="percent-name" id="percent"></div>
					<div class="info-link">
						<a href="javascript:void(0)" class="info-linkA" id="info-link1">进度详情<i></i></a>
					</div>
				</div>
	
			</div>
			<div class="fr btns"><#if travels.issued_state=='1'><a class="btn-save" id="preservation" href="javascript:void(0)"><i></i>保存草稿</a></#if><a class="btn-view" href="travels/preview.html?id=${travels.id}"><i></i>预览</a></div>
		</div>
	</div>
	<!--set banner begin -->
	<#assign uploadMainImgDiv='main-upload-img'>
	<div upload-main-img-div="${uploadMainImgDiv}" id="travelsImage">
		<input type="file" name="file" id="uploadImgFileHidden" style="display:none;" />
		<div class="set-banner" >
			<div class="boxw clearfix">
				<div class="set-main">
					<div class="set-img" id="trigger_upload">
						<a href="javascript:void(0)" class="set-add"><i></i>设置游记主图</a>
						<span>建议选择尺寸大于600x300的高清大图</span>
					</div>
					<input type="hidden" name="main_image" id="main_image" value="${travels.main_image?if_exists}"/>
					<input type="hidden" name="show_image" id="show_image" value="${travels.show_image?if_exists}"/>
					
					<!-- 游记标题 -->
					<div class="set-title" <#if travels.title?? && travels.title!=''>style="display: none"</#if> id="travelstitle">
						<i></i>
						<input type="text" id="oInput" maxlength="50" placeholder="填写游记标题" value="" >
					</div>
					<div class="banner-title" <#if !travels.title?? || travels.title==''>style="display: none"</#if> id="headline-top">
						<p>
							<span id="headline">${travels.title?if_exists}</span>
							<a class="edit-again" id="a1" title="编辑" role="button"></a>
							<!-- <a class="edit-del" id="a2" title="删除" role="button"></a> -->
						</p>
						<!-- <p class="en">That afternoon the sun was so good that you wore a white shirt.</p> -->
					</div>
				</div>
			</div>
		
		</div>
		<!--set banner end -->
		<div  class="complete-percent">
			<div class="boxw set-btn-box">
				<div class="set-btn" style="display:none;" id="setMainImgDiv">
					<ul class="oUl">
						<li class="oli"><a class="main-img-add" title="重新上传主图" id="resetMainImg" role="button"><i></i><span class="ospan">重新上传主图</span></a></li>
						<li class="oli"><a class="main-img-add" title="重新编辑主图" id="editMainImg" role="button"><i></i><span class="ospan">重新编辑主图</span></a></li>
						<!-- <li class="oli"><a class="main-img-del" title="删除主图" role="button"><i></i><span class="ospan">删除主图</span></a></li> -->
					</ul>
					<a class="main-img-set" title="设置游记主图" role="button" id="main-img-set1"><i></i><span>设置游记主图</span></a>
				</div>
			</div>
		</div>
	</div>
	<!--main begin-->
	<div id="address"></div>
	<div  class="boxw add-main clearfix" >
		<div class="add-list clearfix"  id="travelsContent">
			<input type="hidden" id="sort" value="${sort!'1'}" />
			<div class="add-button clearfix" id="ico">
				<a class="add-ico" title="添加" role="button" style="display:none;"  ></a>
				<div class="edit-link clearfix";>
					<li class="nopad" id="remove"><a class="del-ico" title="添加" role="button"></a></li>
					<ul id="remove-ul">
						<li><a title="添加文字" role="button" class="edit-word a1" id="addWord"><i></i>添加文字</a></li>
						<li><a title="添加图片" role="button" class="edit-img a1" id="addPhotos"><i></i>添加图片</a></li>
						<li><a title="添加标题" role="button" class="edit-title a1" id="addTitle"><i></i>添加标题</a></li>
						<li><a title="添加Day" role="button" class="edit-day a1" id="addDay"><i></i>添加Day</a></li>
	
					</ul>
				</div>
			</div>
			<#assign dayjs="">
			<#if (travels.travelsContentList?size>0)>
				<#list travels.travelsContentList as item>
					<#if item.parent_id=='0'>
					<#if item.content_type=="1">
						<div class="article-content" id="content-word" content="${item.id}">
							<span>${item.content?if_exists }</span>
		    				<a class="edit-again" title="编辑" role="button" id="update-word"></a>
		    				<a class="edit-del" title="删除" role="button" id="delete-word"></a>
						</div>
						<#elseif item.content_type=="2">
							<div insertPageImg class="add-img-box clearfix" id="content-img" content="${item.id}">
								<div class="img-list">
									<img class="lazy-img" data-original="${item.travelsPhotos.src}@!yjxq" seq="${.now?string('yyyyMMddHHmmss')}_${item_index}" width="${item.travelsPhotos.width?if_exists}" tag="${item.travelsPhotos.tag_type}" scenic-type="${item.travelsPhotos.tt_scenic_type}" tagId="${item.travelsPhotos.tag_id}" tagName="${item.travelsPhotos.tagName}" isNew="false" contentId="${item.travelsPhotos.content_id}" />
									<div class="turn" style="width:<#if item.travelsPhotos.width?exists>${item.travelsPhotos.width}<#else>860</#if>px">
										<i class="<#if travels.cover_image_id?exists&&travels.cover_image_id==item.travelsPhotos.id>ico-cover-now<#else>ico-cover</#if>"></i>
										<#if !travels.cover_image_id?exists||travels.cover_image_id!=item.travelsPhotos.id><a href="javascript:void(0)" class="set-cover" id="cover">设为封面</a></#if>
										<a class="edit-del w del-cover" title="删除" id="delete-photos" role="button" ></a>
									</div>
									<div class="img-tag">
										<a update-img-tag-a href="javascript:void(0)" show-tagName>
											<i></i>
											${item.travelsPhotos.tagName!"为照片关联地点"}
										</a>
										<#if item.travelsPhotos.tagName??>
											<a update-img-tag-a class="edit-again" title="编辑" role="button"></a>
										</#if>
									</div>
								</div>
							</div>
						
						<#elseif item.content_type=="4">
							<div class="article-title" id="content-title" content="${item.id}">
								<p class="${item.travelsTitle.style_id}">
									<i></i><span>${item.travelsTitle.title}</span>
									<a class="edit-again" title="编辑" role="button" id="update-title"></a>
			    					<a class="edit-del" title="删除" role="button" id="delete-title"></a>
								</p>
							</div>
						<#elseif item.content_type=="5">
							<script type="text/javascript">
							$(function(){
								new $.fn.travelsImg({
						    		parentElementId:${item.id},// 父元素标示
						    		triggerUploadElementId:"trigger_upload",// 触发选择文件的按钮ID
						    		originalInputId:"main_image",// 原件保存的inputID，上传原图后会自动向该input赋值
						    		fileId:"${item.id}uploadImgFileHidden",
						    		originalImgMinWidth:600,// 原图最小宽度
						    		originalImgMinHeight:300,// 原图最小高度
						    		ratioWidth:3.2,// 裁剪比例（宽）
						    		ratioHeight:1,// 裁减比例（高）
						    		draftCallFn:function(data){// 截图完成后的回调函数， data.savePath为截图的服务器地址
						    			var $parent = $("div[upload-main-img-div=${item.id}]");
						    			// 保存截图路径
						    			$parent.find("input#show_image").val(data.savePath);
						    	  		
						    	  		// 替换背景
						    			$parent.find("div.set-banner-day").css({'background':'url('+data.savePath+') no-repeat center top','background-size': 'cover'});
						    			
						    			// 隐藏设置主图div
						    			$parent.find("div#trigger_upload").hide();
						    			
						    			// 打开操作主图按钮
						    			$parent.find("div#setMainImgDiv").show();
						    			
						    	    	var contentId = $parent.attr("content");
						    	    	if(contentId==""||contentId==null){
						    	    		contentId = addDay($parent);
						    	    	}
						    			
						    			$.ajax({
						    	    		type : "post",
						    	    		url : "travels/create.json",
						    	    		data : {id:$.getUrlParam('id'),act:'update',"data.o":'dayphotos',"data.c":$parent.find("input#main_image").val(),"data.s":$parent.find("input#show_image").val(),"content_id":contentId},
						    	    		async : false,
						    	    		success : function(data){
						    	            	if(data.RESPONSE_STATE=="200"){
						    	            		_this.closest("#travelstitle").css("display","none");
						    	            		_this.parent().parent().find("#headline").html(val);
						    	            		_this.parent().parent().find("#headline-top").css("display","block");
						    	            	}else if(data.RESPONSE_STATE=="500"){
						    	        			layer.alert(data.ERROR_INFO, {
						    	        				title:"错误信息",
						    	        				icon:2
						    	        			});
						    	        		}
						    	            }
						    	    	});
						    			
						    		},
						    		customFn:function(draftImg){// 需要注册的自定义事件 （主要作用是编辑原图重新裁剪功能）@param draftImg 传递一个url即可进行新的裁剪，成功回调还是draftCallFn方法
						    			var $parent = $("div[upload-main-img-div=${item.id}]");
						    			
						    			// 重新上传主图
						    			$parent.find("a#resetMainImg").on("click",function(){
						    				// 该按钮相当于重新选择文件所以触发的是clickElementId元素的事件
						    				$("input#${item.id}uploadImgFileHidden").trigger("click");
						    			})
						    			
						    			// 编辑主图
						    			$parent.find("a#editMainImg").on("click",function(){
						    				draftImg.draftImg($parent.find("input#main_image").val());
						    			})
						    		}
						    	});
							})
							</script>
							
							<div id='day' content="${item.id}" upload-main-img-div="${item.id}" >
								<div class="split-line"></div>
								<input type="file" name="file" id="${item.id}uploadImgFileHidden" style="display:none;" />
								<div class="complete-percent"  style="position: relative;">
									<a class="edit-del w" style="margin-left:1110px;margin-top:24px;" title="删除" id="delete-day" role="button" ></a>
								</div>
								<div class="set-banner-day" <#if item.travelsPhotos??>style="background:url('${item.travelsPhotos.src}') no-repeat center top;background-size: cover"</#if>>
									<div class="boxw clearfix">
										<div class="set-main-day">
											<div class="set-img" <#if item.travelsPhotos?exists>style="display: none"</#if> id="trigger_upload">
												<a href="javascript:void(0)" class="set-add"><i></i>设置Day主图</a>
												<span>建议选择尺寸大于600x300的高清大图</span>
											</div>
											<input type="hidden" name="main_image" id="main_image" value="<#if item.travelsPhotos??>${item.travelsPhotos.templateimage!''}</#if>"/>
											<input type="hidden" name="show_image" id="show_image" value="<#if item.travelsPhotos??>${item.travelsPhotos.src!''}</#if>"/>
											
											<!-- 游记标题 -->
											<div class="set-title" <#if item.travelsTitle??>style="display: none"</#if> id="travelstitle">
												<i></i>
												<input type="text" id="oInput" maxlength="50" placeholder="填写游记标题" value="" >
											</div>
											<div class="banner-title" <#if !item.travelsTitle??>style="display: none"</#if> id="headline-top">
												<p>
													<span id="headline"><#if item.travelsTitle??>${item.travelsTitle.title!''}</#if></span>
													<a class="edit-again" id="a1" title="编辑" role="button"></a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="complete-percent">
									<div class="boxw set-btn-box" <#if !item.travelsPhotos??>style="display: none"</#if>>
										<div class="set-btn"  id="setMainImgDiv">
											<ul class="oUl">
												<li class="oli"><a class="main-img-add" title="重新上传主图" id="resetMainImg" role="button"><i></i><span class="ospan">重新上传主图</span></a></li>
												<li class="oli"><a class="main-img-add" title="重新编辑主图" id="editMainImg" role="button"><i></i><span class="ospan">重新编辑主图</span></a></li>
											</ul>
											<a class="main-img-set" trigger-upload-img title="设置Day主图" role="button" id=""><i></i><span>设置Day主图</span></a>
										</div>
									</div>
								</div>
								
								<div class="add-button clearfix" id="ico">
									<a class="add-ico" title="添加" role="button" style="display:none;"  ></a>
									<div class="edit-link clearfix";>
										<li class="nopad" id="remove"><a class="del-ico" title="添加" role="button"></a></li>
										<ul id="remove-ul">
											<li><a title="添加文字" role="button" class="edit-word a1" id="addWord"><i></i>添加文字</a></li>
											<li><a title="添加图片" role="button" class="edit-img a1" id="addPhotos"><i></i>添加图片</a></li>
											<li><a title="添加标题" role="button" class="edit-title a1" id="addTitle"><i></i>添加标题</a></li>
										</ul>
									</div>
								</div>
								<#list travels.travelsContentList as children>
									<#if children.parent_id==item.id>
										<#if children.content_type=="1">
											<div class="article-content" id="content-word" content="${children.id}">
												<span>${children.content }</span>
							    				<a class="edit-again" title="编辑" role="button" id="update-word"></a>
							    				<a class="edit-del" title="删除" role="button" id="delete-word"></a>
											</div>
											<#elseif children.content_type=="2">
												
											<#elseif children.content_type=="4">
												<div class="article-title" id="content-title" content="${children.id}">
													<p class="${children.travelsTitle.style_id}">
														<i></i><span>${children.travelsTitle.title}</span>
														<a class="edit-again" title="编辑" role="button" id="update-title"></a>
								    					<a class="edit-del" title="删除" role="button" id="delete-title"></a>
													</p>
												</div>
										</#if>
										<div class="add-button clearfix" id="ico">
											<a class="add-ico" title="添加" role="button" style="display:none;"  ></a>
											<div class="edit-link clearfix";>
												<li class="nopad" id="remove"><a class="del-ico" title="添加" role="button"></a></li>
												<ul id="remove-ul">
													<li><a title="添加文字" role="button" class="edit-word a1" id="addWord"><i></i>添加文字</a></li>
													<li><a title="添加图片" role="button" class="edit-img a1" id="addPhotos"><i></i>添加图片</a></li>
													<li><a title="添加标题" role="button" class="edit-title a1" id="addTitle"><i></i>添加标题</a></li>
												</ul>
											</div>
										</div>
									</#if>
								</#list>
								<div class="split-line"></div>
							</div>
					</#if>
					
					<div class="add-button clearfix" id="ico" >
						<a class="add-ico" title="添加" role="button" style="display:none;"  ></a>
						<div class="edit-link clearfix";>
							<li class="nopad" id="remove"><a class="del-ico" title="添加" role="button"></a></li>
							<ul id="remove-ul">
								<li><a title="添加文字" role="button" class="edit-word a1" id="addWord"><i></i>添加文字</a></li>
								<li><a title="添加图片" role="button" class="edit-img a1" id="addPhotos"><i></i>添加图片</a></li>
								<li><a title="添加标题" role="button" class="edit-title a1" id="addTitle"><i></i>添加标题</a></li>
								<li><a title="添加Day" role="button" class="edit-day a1" id="addDay"><i></i>添加Day</a></li>
							</ul>
						</div>
					</div>
					
					</#if>
				</#list>
			</#if>
			
		</div>
		
		<div class="boxw add-main clearfix" id="music">
			<div class="add-list clearfix">
				<div class="add-music-tit">
					<i></i>游记音乐
				</div>
				<div class="add-mp3" id="musicContainer">
					<div class="music-progress-bar" style="z-index:1;width:0%"></div>
					<input type="text" id="music_name" value="${travels.music_name?if_exists}" class="m-text" style="display:none"/>
					<span class="m-showname" id="m-showname"><#if travels.music_name?exists>已上传-${travels.music_name}<#else>背景音乐请选择后缀为.mp3的音乐文件</#if></span>
					<a class="m_modify" id="m_modify" role="button" <#if !travels.music_name?exists>style="display:none"</#if>>编辑名称</a>
					<a class="m_delete" id="m_delete" role="button" <#if !travels.music_name?exists>style="display:none"</#if>>删除音乐</a>
					<a class="m_save" id="m_save" role="button" style="display:none">保存</a>
					<a class="m_cancel" id="m_cancel" role="button" style="display:none">取消</a>
					<input type="button" id="selectMusic" value="<#if travels.music_name?exists>更换<#else>浏览</#if>" class="m-up"/>
				</div>
				<pre id="console"></pre>
			</div>
		</div>
		
		<!--main end-->
		<div class="btns-bottom">
			<#if travels.issued_state=='1'><a class="btn-save-all" href="javascript:void(0)" id="preservation"><i></i>保存草稿</a></#if>
			<a class="btn-view-all" href="travels/preview.html?id=${travels.id}"><i></i>预览</a>
			<a class="btn-fabu-all" href="javascript:void(0)" id="publish">发布</a>
		</div>
		
	</div>
	
	<#assign percent=20>
	<#assign count=1>
	<div class="pop-box" id="pop-box1" style="display: none;">
		<div class="mt"><a href="javascript:void(0)" class="close" title="关闭" id="close1"></a></div>
		<div class="mc">
			<div class="complete-list">
				<ul>
					<li class="on">
						<a class="btns1" title="已完成" role="button">已完成</a>
						<strong class="num"></strong>
						<span class="name">创建新游记</span>
						<span class="percent">完成度 +20%</span>
					</li>
					<#if travels.show_image?exists>
						<li class="on">
							<#assign percent=percent+20>
							<#assign count=count+2>
							<a class="btns1" title="已完成" role="button" data-target="head_photo_final">已完成</a>
							<#else>
						<li>
							<a class="btns" title="前往" role="button" href="javascript:void(0)" data-target="head_photo">前往</a>
						</#if>
						<strong class="num"></strong>
						<span class="name">添加游记头图</span>
						<span class="percent">完成度 +20%</span>
					</li>
					<#if photoscount gt 0>
						<li class="on">
							<#assign percent=percent+10>
							<#assign count=count+1>
							<a class="btns1" title="已完成" role="button" data-target="photo_poi_final">已完成</a>
							<#else>
						<li>
							<a class="btns" title="前往" role="button" href="javascript:void(0)" data-target="photo_poi">前往</a>
						</#if>
						<strong class="num"></strong>
						<span class="name">至少一张图片关联地点</span>
						<span class="percent">完成度 +10%</span>
					</li>
					<#if titlecount gt 0>
						<li class="on">
							<#assign percent=percent+10>
							<#assign count=count+1>
							<a class="btns1" title="已完成" role="button" data-target="paragraph_title_final">已完成</a>
							<#else>
						<li>
							<a class="btns" title="前往" role="button" href="javascript:void(0)" data-target="paragraph_title">前往</a>
						</#if>
						<strong class="num"></strong>
						<span class="name">至少添加一个段落标题</span>
						<span class="percent">完成度 +10%</span>
					</li>
					<#if travels.cover_image_id?exists>
						<li class="on">
							<#assign percent=percent+20>
							<#assign count=count+2>
							<a class="btns1" title="已完成" role="button" data-target="cover_photo_final">已完成</a>
							<#else>
						<li>
							<a class="btns" title="前往" role="button" href="javascript:void(0)" data-target="cover_photo">前往</a>
						</#if>
						<strong class="num"></strong>
						<span class="name">设置游记封面</span>
						<span class="percent">完成度 +20%</span>
					</li>
					<#if travels.music?exists>
						<li class="on">
							<#assign percent=percent+20>
							<#assign count=count+2>
							<a class="btns1" title="已完成" role="button" data-target="music_final">已完成</a>
							<#else>
						<li>
							<a class="btns" title="前往" role="button" href="javascript:void(0)" data-target="music">前往</a>
						</#if>
						<strong class="num"></strong>
						<span class="name">添加音乐</span>
						<span class="percent">完成度 +20%</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="pop-box" id="title-box" style="width:740px;display:none;">
		<div class="mt">
			<h1>添加标题</h1>
			<a href="javascript:void(0)" id="title-box-close" class="close" title="关闭"></a>
		</div>
		<div class="add-paragraph">
			<dl class="paragraph-item clearfix">
				<dt class="dt-name">
					<span>*</span>标题名称：
				</dt>
				<dd>
					<div class="paragraph-name">
						<input type="text" id="title-box-content" maxlength="50" placeholder="标题不超过 30个字" />
					</div>
					<div class="paragraph-tips">
						<p>添加标题名称可以起到画龙点睛的作用，还可以激发阅读兴趣。</p>
					</div>
				</dd>
			</dl>
			<dl class="paragraph-item clearfix">
				<dt class="dt-name">标题样式：</dt>
				<dd class="paragraph-pics" id="paragraph-pics">
					<ul>
						<li class="on" data-target="at01"><a href="javascript:void(0)"><img src="static/images/hw_img/p-01.jpg" /></a></li>
						<li data-target="at02"><a href="javascript:void(0)"><img src="static/images/hw_img/p-02.jpg" /></a></li>
						<li data-target="at03"><a href="javascript:void(0)"><img src="static/images/hw_img/p-03.jpg" /></a></li>
					</ul>
				</dd>
			</dl>
			<div class="btns">
				<a class="btn-complete" id="title-btn" title="确定">确定</a>
			</div>
		</div>
	</div>

	<!--发表成功 -->
	<div class="pop-box" id="travels_address" style="width:540px;display:none;">
		<div class="mt">
			<a href="javascript:void(0)" class="close" id="travels_address_close" title="关闭"></a>
		</div>
		<div class="modify-success">
			<div class="ms-01">
				<i></i>
				<h1>发表成功！</h1>
				<p>
					成功发表游记，可在个人中心页的<a href="travels/travelsNote.html?id=${SESSION_USER.uId}">我的游记</a>中查看详情。
				</p>
			</div>
			<div class="ms-02">
				<p>感谢您的发帖，系统检测到你发表的游记有以下目的地</p>
				<p>请选择一个与您游记相关的地点：</p>
				<ul id="address-update" style="overflow-x:hidden;height: 130px;">
					
				</ul>
				<p>不符合我的要求，我要手动输入地点：</p>
				<p>
					<input type="text" id="travelsaddress" />
				</p>
			</div>
			<div class="btns">
				<a class="btn-complete" id="address-btn" title="确定">确定</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="static/upload/plupload-2.1.8/js/plupload.full.min.js"></script>
	<script type="text/javascript" src="static/js/travels/release/musicUpload.js"></script>
	<script type="text/javascript">
		$(function(){
			var html = "";
			for(var i=0;i<10;i++){
				if(i<=${count}){
					html += "<i class='completed'></i>";
				}else{
					html += "<i></i>";
				}
			}
			$("#complete-percent").html(html);
			$("#percent").html(${percent}+"%");
			
		})
		
		
		$(function(){
			var _window_scrollTop;
			$(window).on("scroll",function(){
				_window_scrollTop=$(this).scrollTop();
				if(_window_scrollTop > $("div#check-complete-percent-top").offset().top){
					$("div[top-there]").addClass("complete-percent-float");
				}else{
					$("div[top-there]").removeClass("complete-percent-float");
				}
			})
		})
		
		var travels_address = "${travels.address}";
	</script>
	
	<!-- 地图 -->
    <#include "/view/webapi.js.html">
    <script type="text/javascript" src="static/js/travels/release/interaction.js"></script>
	
	
	<script type="text/javascript">
		$(function(){
			<#if travels.show_image?? && travels.show_image!="">
				var $parent = $("#uploadImgFileHidden").parent();
				// 替换背景
				$parent.find("div.set-banner").css({"background":"url('${travels.show_image}') no-repeat center top","background-size": "cover"});
				
				// 隐藏设置主图div
				$parent.find("div#trigger_upload").hide();
				
				// 打开操作主图按钮
				$parent.find("div#setMainImgDiv").show();
			</#if>
			new $.fn.travelsImg({
				parentElementId:"${uploadMainImgDiv}",// 父元素ID
				triggerUploadElementId:"trigger_upload",// 触发选择文件的按钮ID
				originalInputId:"main_image",// 原件保存的inputID，上传原图后会自动向该input赋值
				fileId:"uploadImgFileHidden",
				originalImgMinWidth:600,// 原图最小宽度
				originalImgMinHeight:300,// 原图最小高度
				ratioWidth:3.2,// 裁剪比例（宽）
				ratioHeight:1,// 裁减比例（高）
				draftCallFn:function(data){// 截图完成后的回调函数， data.savePath为截图的服务器地址
					var $parent = $("div[upload-main-img-div=${uploadMainImgDiv}]");
					// 保存截图路径
					$parent.find("input#show_image").val(data.savePath);
			  		
			  		// 替换背景
					$parent.find("div.set-banner").css({'background':'url('+data.savePath+') no-repeat center top','background-size': 'cover'});
					
					// 隐藏设置主图div
					$parent.find("div#trigger_upload").hide();
					
					// 打开操作主图按钮
					$parent.find("div#setMainImgDiv").show();
					
					$.ajax({
			    		type : "post",
			    		url : "travels/create.json",
			    		data : {id:$.getUrlParam('id'),act:'update',"data.o":'image',"data.c":$("input#main_image").val(),"data.s":$("input#show_image").val()},
			    		async : false,
			    		success : function(data){
			            	if(data.RESPONSE_STATE=="200"){
			            		var head_photo = $("a[data-target='head_photo']");
			            		if(head_photo.length>0){
			            			head_photo.attr("data-target",head_photo.attr("data-target")+"_final");
			            			head_photo.attr("title","已完成");
			            			head_photo.attr("class","btns1");
			            			head_photo.html("已完成");
			            			head_photo.parent().addClass("on");
			            			
			            			var count = 0;
			            			$("div#complete-percent i").each(function(index,element){
			            				if(count<2){
			            					if($(this).attr("class")!="completed"){
			            						$(this).addClass("completed");
			            						count++;
			            					}
			            				}
			            			})
			            			$("#percent").html((Number($("#percent").html().replace(/[^0-9]/ig,""))+20)+"%");
			            		}
			            	}else if(data.RESPONSE_STATE=="500"){
			        			layer.alert(data.ERROR_INFO, {
			        				title:"错误信息",
			        				icon:2
			        			});
			        		}
			            }
			    	});
				},
				customFn:function(draftImg){// 需要注册的自定义事件 （主要作用是编辑原图重新裁剪功能）@param draftImg 传递一个url即可进行新的裁剪，成功回调还是draftCallFn方法
					var $parent = $("div[upload-main-img-div=${uploadMainImgDiv}]");
					
					// 重新上传主图
					$parent.find("a#resetMainImg").on("click",function(){
						// 该按钮相当于重新选择文件所以触发的是clickElementId元素的事件
						$parent.find("input#uploadImgFileHidden").trigger("click");
					})
					
					// 编辑主图
					$parent.find("a#editMainImg").on("click",function(){
						var url = $parent.find("input#main_image").val();
						if(url.indexOf("wanrma.img-cn-beijing.aliyuncs.com") != "-1"){
							url = url.replace("wanrma.img-cn-beijing.aliyuncs.com","file.wanrma.com");
						}
						draftImg.draftImg(url);
					})
				}
			});
			
			${dayjs}
		})
	</script>
	<!-- 主图 	end -->
	
	<!-- 段落添加图片	start -->
	<script type="text/javascript">
	// 游记ID（添加标签）
	var travelsId=${travels.id};
	</script>
	
	<#include "/view/travels/release/img-note.html">
	<script type="text/javascript">
	$(function(){
		var tagType="";
		// 初始化标签数据
		<#list travels.tags as tag>
			if(${tag.tt_type} == 3){
				tagType="spot";
			}else if(${tag.tt_type} == 1){
				tagType="dining";
			}else{
				tagType="hotel";
			}
			
			travels.e.tagDataArray.push({
				"tagType":"${tag.tt_type}",
				"tagId":"${tag.tt_type_id}",
				"time":"${.now?string('yyyyMMddHHmmss')}",
				"iClass":tagType,
				"pTitle":"${tag.tagName}",
				"ttId":"${tag.tt_id}",
				"scenicType":"${tag.scenicType}"
			})
		</#list>
	
		$(document).on("click","a#addPhotos",function(){
			// 保存当前点击的事件用于获取页面位置插入图片
			currentClickAddImg = $(this);
			
			// 触发选择图片位置
			//$("input#imgFileElement").trigger("click");
			$("a#selectfiles").parent().find("input[multiple]").trigger("click");
		})
		
	})
	</script>
	<!-- 段落添加图片	end -->
	<script type="text/javascript" src="static/js/travels/emoji/underscore-min.js"></script>
    <script type="text/javascript" src="static/js/travels/emoji/emojis.js"></script>
	<!-- 图片延迟加载 -->
	<script type="text/javascript" src="static/js/plugins/lazy-load-img/jquery.lazyload.min.js" ></script>
	<script type="text/javascript">
		$(function(){
			// 初始化lazyload并设置图片显示方式
			$("img.lazy-img").lazyload({
				effect: "show", // 载入使用何种效果
				threshold: 3000, // 提前开始加载
				failurelimit : 10 // 图片排序混乱时
			});
		})
	</script>
	
</body>

</html>
