<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>提现申请</title>
<link rel="stylesheet" type="text/css" href="static/css/hw_css/base.css" />
<link rel="stylesheet" type="text/css" href="static/css/hw_css/header.css" />
<link rel="stylesheet" type="text/css" href="static/css/hw_css/mystyle.css" />
<style>
body {
	background: #f1f1f1;
}
</style>
</head>
<body>
<#include "/view/header.html">
 
<div class="boxw clearfix" style="margin-top: 20px;">
<#include "/view/usercenter/user/user_left_menu.html">
<div class="myinfo-main">
<div class="myinfo-title">
  <h1>提现</h1>
</div>

<div class="withdrawals-nav">
  <ul>
    <li>1.填写提现申请</li>
    <li class="now">2.客服审核处理</li>
    <li>3.提现成功</li>
  </ul>
</div>
<div class="edit-payPassword">
  <div class="pending-state">
    <h1>提现申请已提交！</h1>
    <p>一般1到3天内到账，如有问题，请咨询客服</p>
    <p>客服电话：400-0928-400    服务时间：周一至周五 9:30-17:30</p>

  </div>
   <div class="btns">
   <a class="btn-over" href="withdrawals/apply.html">继续提现</a><a href="withdrawals/list.html" class="pending-link">查看提现明细</a>
</div>
 </div>
</div>
</div>
<!-- main end -->
</body>
</html>
