<!-- logo -->
<link rel="shortcut icon" href="static/images/hw_img/logo-1.jpg"/>

<!-- base css -->
<link rel="stylesheet" type="text/css" href="static/css/hw_css/base.css" />
<link rel="stylesheet" type="text/css" href="static/css/hw_css/header.css" />
<link rel="stylesheet" type="text/css" href="static/css/hw_css/footer.css" />
<link rel="stylesheet" type="text/css" href="static/css/hw_css/mystyle.css" />

<!-- scrollUp -->
<link rel="stylesheet" type="text/css" href="static/css/scrollUp/scrollUp.css">
