<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>玩嘛</title>

<#include "/view/usercenter/base.css.html">
<link href="static/css/page.css" rel="stylesheet">
<link href="static/js/plugins/layer/skin/moon/style.css" rel="stylesheet">
<style>
body {
	background: #f1f1f1;
}
a {
	cursor:pointer;
}
</style>

</head>
<body>
<#include "/view/usercenter/header.html">
	<div class="boxw clearfix">
		<#include "/view/usercenter/housekeeper/menu_left.html">
		<div class="main-box">
			<h1>申请退票</h1>
			<div class="scenic-btns">
				<div class="fl order-num">订单编号：${dto.orderId}</div>
				<div class="fr">
					<a href="ticket/orderInfo.html?id=${dto.orderId}" target="_blank" class="btns-01">订单详情</a>
				</div>
			</div>
			<#if errorMap.errorCode = '0'>
				<div class="refund-state-1 clearfix">
	                 <span>退票申请已提交，系统处理中，请耐心等待！</span>          
	            </div> 
	        <#else> 
				<div class="refund-state-1 clearfix">
	                 <span>${errorMap.errorMsg}</span>          
	            </div> 
			</#if>
			<div class="venue-order-list det">
				<h3>门票退票信息</h3>
				<dl>
					<dt>门票名称：</dt>
					<dd class="f-s">${dto.productName}</dd>
				</dl>
				<#if dto.validTimeBegin??>
					<dl>
						<dt>门票有效期：</dt>
						<dd>${dto.validTimeBegin}至 ${dto.validTimeEnd}</dd>
					</dl>
				</#if>
				<dl>
					<dt>使用日期：</dt>
					<dd>${dto.inDate}</dd>
				</dl>
				<dl>
					<dt>门票单价：</dt>
					<dd>${dto.retailPrice/100}元/人</dd>
				</dl>
				<dl>
					<dt>数量：</dt>
					<dd>${dto.count}</dd>
				</dl>
				<dl>
					<dt>票款退回方式：</dt>
					<dd>原路返回（1—7个工作日内退还于您的账户内，无手续费）</dd>
				</dl>
				<dl>
					<dt>退票金额：</dt>
					<dd>
						<em class="f-s">${dto.order_total_price}</em><em class="f-orange">元</em>
					</dd>
				</dl>
			</div>

			<div class="venue-refund-btns">
					<a href="ticket/MyOrder.html" class="refund-btn-1">返回</a>
				</p>
			</div>
		</div>
		
	</div>
	<!-- main end -->
	
	<#include "/view/usercenter/base.js.html">
	<script type="text/javascript">
		$(function(){
		 
			
			//选择退票人
			$("table").on("click","tr td a#selectRefund",function(){
				var $this = $(this);
				if($this.hasClass("selected")){
					$this.removeClass("selected");
					$this.parents("td").find("input[name='id']").val("");
				}else{
					$this.addClass("selected");
					$this.parents("td").find("input[name='id']").val($this.attr("data-id"));
				}
			})
			 
			//申请退票
			$("#refund").on("click" , function(){
				 if($("table").find("tr td a.selected").length < 1){
			   	     layer.alert("你尚未选择需要退的票！", {icon: 0});
			   	     return;
			   	 }
				 $("#applyticket").submit();
			}); 
		})
	</script>
</body>
</html>
