@charset "utf-8";
/* CSS Document */
 
 
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0; padding: 0;}
ol,ul,li{ list-style:none; list-style-position:outside;}
:focus { outline: 0 none;}
a img {border: 0 none;}
img {vertical-align: middle;}
a,a:hover{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
address, caption, cite, code, dfn, em, th, var, b, i, s{font-style:normal;font-weight:normal;}
body{font-size:12px; font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti; color:#6c6c6c;background: #f1f1f1;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.boxw{width:1200px;margin:0 auto;}
.clearfix:before, .clearfix:after {content: ".";display: block;height: 0;visibility: hidden;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
 
.map-close{position:absolute;top:10px;right:40px;z-index:9999;}
.map-close a:hover{ background-position:0 -58px;}
.map-search{position:absolute;top:80px;right:114px;z-index:1;}
.venue-search{position:relative;}
.venue-search input{width:250px;height:20px;background:#fff;line-height:20px;font-size:14px;color:#555;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);border:0;padding:10px 10px 10px 40px;}
.venue-search i{position:absolute;width:21px;height:21px;background:url(../images/hw_img/icons-map.png) no-repeat -7px -4px;top:10px;left:10px;display:block;}
.sxtj{margin-top:15px;width:300px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);}
.sxtj .title{font-size:14px;color:#555;width:300px;height:40px;background:#eee;line-height:40px;position:relative;cursor:pointer;}
.sxtj .title .icons{width:23px;height:20px;background:url(../images/hw_img/icons-map.png) no-repeat -7px -33px;display:inline-block;margin-left:10px;margin-right:7px; vertical-align:-4px;}
.sxtj .com{border-top:1px solid #b4c9e0;}
.sxtj .com li{height:80px;background:#fff;text-align:center;line-height:78px;font-size:16px;color:#555;}
.com,.other-item,.list{display: none;}
.list{background: #fff;text-indent: 20px;font-size: 14px;position: relative;top: -10px;}
.sxtj .com .item-1{width:34px;height:32px;background:url(../images/hw_img/icons-map.png) no-repeat -41px -4px;display:inline-block;margin-right:10px; vertical-align:-8px;}
.tsxs{margin-top:15px;width:300px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);}
.tsxs .title{font-size:14px;color:#555;width:300px;height:40px;background:#fff;line-height:40px;position:relative;cursor:pointer;}
.tsxs .title .icons{width:20px;height:20px;background:url(../images/hw_img/icons-map.png) no-repeat -7px -96px;display:inline-block;margin-left:10px;margin-right:10px; vertical-align:-4px;}
.arrow-down{width:16px;height:9px;background:url(../images/hw_img/icons-map.png) no-repeat -7px -63px;display:inline-block;position:absolute;top:15px;right:10px;}
.arrow-right{
    width:16px;height:15px;background:url(../images/hw_img/icons-map.png) no-repeat -7px -78px;display:inline-block;position:absolute;top:12px;right:10px;
}
.tsxs .other-item{
    width: 300px;
    height: 40px;
    font-size: 14px;
    color: #555;
    background: #fff;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #b4c9e0;
}
.tsxs .other-item .ico-venus{
    width: 40px;
    height: 40px;
    background: #2f89e6;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 6px;
}
.tsxs .other-item .ico-venus i{
    width: 22px;
    height: 26px;
    background: url(../images/hw_img/icons-map.png) no-repeat -42px -38px;
    display: inline-block;
    vertical-align: 1px;
}
.venue-list{width:300px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);}
.venue-list li{margin-top:15px;background:#fff;padding-bottom:15px;position:relative;}
.venue-list .close{width:30px;height:30px;background:url(../images/hw_img/icons-map.png) no-repeat -41px -71px;display:inline-block;position:absolute;top:0;right:0;cursor:pointer;}
.venue-list .venue-img{width:300px;height:180px;}
.venue-list .venue-title{font-size:18px;color:#333;padding:10px 20px 5px;}
.venue-list .venue-title a{color:#333;}
.venue-list .venue-address{font-size:12px;color:#999;padding:0 20px;line-height:30px;}
.venue-list .venue-address i{width:16px;height:16px;background:url(../images/hw_img/icons-map.png) no-repeat -82px -4px;display:inline-block; vertical-align:-3px;}
.venue-list .venue-info{font-size:14px;color:#333;padding:0 20px;}
.venue-list .venue-info a{color:#333;}
.venue-list .venue-extra{font-size:12px;color:#999;padding:0 20px;line-height:30px;}



