<!-- base js -->
<script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/js/plugins/layer/layer.min.js"></script>

<!-- scrollUp -->
<script type="text/javascript" src="static/js/scrollUp/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="static/js/default.js"></script>

<script type="text/javascript">
    var UA = navigator.userAgent.toLowerCase();
    var browerKernel = {
        isWebkit: function() {
            if (/webkit/i.test(UA)) return true;
            else return false;
        }
    }

    if(!browerKernel.isWebkit()){
        alert("您当前浏览器无法兼容本系统！\n推荐使用Google Chrome 浏览器！\n\n其它兼容浏览器：\n360浏览器极速模式\n搜狗高速浏览器3\n世界之窗极速版\n猎豹浏览器\nQQ浏览器\n其它浏览器请自测");
    }
var header_lp;
$(function(){
	<#if map.ht?exists>
		var count = 1;
		var bool = false;
		$("ul#nav li a").each(function(index,element){
			if($(this).attr("class")=="first"){
				bool = true;
			}else{
				if(bool){
					count++;
				}
			}
		});
		
		header_lp = $("#nav").closest("div").width()-count*68+"px";
		<#else>
		header_lp = -68;
	</#if>
	
	$("#buoy").css("left",header_lp);
	
	var str = "";
	
	if($('body').height()+100<$(document).height()){
		str += "style='position: fixed;bottom: 0;'";
	}
	
	//添加尾部页面
	$('body').append("<div class='m-footer' id='footer' "+str+">"+
					"	<div class='boxw clearfix'>"+
					"	<div class='m-footer-img'>"+
					"		<a href='index.html'><img src='static/images/hw_img/logo.png' /></a>"+
					"	</div>"+
					"	<div class='m-footer-info'>"+
					"		<p class='p1'>"+
					"			<a href='javascript:void(0)' id='apply_leader'>申请领队</a>"+
					"			客服电话：<span>400-0928-400</span>"+
					"		</p>"+
					"		<p class='p2'>"+
					"			<span>版权所有：2011-2016 北京慧斓美国际商贸有限公司 京ICP备11036453号-2 </span><span>客服邮箱：2355566249@qq.com</span>"+
					"		</p>"+
					"	</div>"+
					"	<div style='position: absolute;right: 350px;'>"+
					"		<img src='static/images/hw_img/app-qrdroid.jpg' style='width: 100px;'>"+
					"	</div>"+
					"</div>"+
					"</div>");
	
});

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e262b21a2e5936b2079828e04d5d7998";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();

var	currentSessionUID="${SESSION_USER.uId}";
</script>

<script type="text/javascript" src="static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="static/js/home/header.js"></script>

<script type="text/javascript" src="static/js/security.js"></script>
<!-- layerLogin -->
<script type="text/javascript" src="static/js/login/layer.login.js"></script>

<!-- 站内信消息数量 -->
<script type="text/javascript" src="static/js/message/message.js"></script>

<!-- webSocket -->
<script type="text/javascript" src="static/js/webSocket/webSocket.js"></script>
