<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageTemplateMapper">
	<sql id="Base_Column_List">
    mt_id,mt_name ,mt_title ,mt_content ,mt_remark ,mt_create_time ,mt_last_update_time ,mt_create ,mt_last_update,mt_type
    </sql>

    <resultMap type="com.op.entity.MessageTemplate.MessageTemplate" id="MessageTemplateReturnMap">
      <id column="mt_id" property="mt_id"/>
      <result column="mt_name" property="mt_name"/>
      <result column="mt_title" property="mt_title"/>
      <result column="mt_content" property="mt_content"/>
      <result column="mt_remark" property="mt_remark"/>
      <result column="mt_create_time" property="mt_create_time"/>
      <result column="mt_last_update_time" property="mt_last_update_time"/>
      <result column="mt_create" property="mt_create"/>
      <result column="mt_last_update" property="mt_last_update"/>
      <result column="mt_type" property="mt_type"/>
   </resultMap>
   
	<select id="findMessageTemplate" resultMap="MessageTemplateReturnMap">
		select mt_id ,mt_name ,mt_title ,mt_content ,mt_type from messageTemplate
	</select>
	
</mapper>